.image-container {
  padding-top: 100px;
  padding-bottom: 60px;
}

.overlay {
  left: 8%;
  top: 35%;
  width: 60%;
}

.overlay-heading {
  padding-right: 0;
}

.overlay-txt {
  padding-right: 20%;
}

.believe-text {
  width: 50%;
  text-align: left;
}

.believe-heading {
  padding-top: 0;
}

.text {
  align-items: center;
}

.bottom-bold {
  font-weight: 900;
}

.text-section {
  padding-bottom: 60px;
}

.team-heading {
  padding-top: 50px;
}

.headshot-container {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headshot {
  max-height: 100%;
  max-width: auto;
}

.col-third {
  flex-basis: calc(100% / 3);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
