
form {
  padding: 5em;
  margin: auto;
  width: 600px;
}

fieldset {
  border: none;
}

legend {
  font-family: 'AtlasGrotesk', sans-serif;
  font-weight: 900;
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

input {
  color: #878580;
  width: 100%;
  text-indent: 8px;
  border: 1px solid #dbd9d3;
  border-radius: 5px;
  padding-top: 8px;
  padding-bottom: 7px;
  margin-bottom: 10px;
}

select {
  width: 100%;
  color: #878580;
  padding: 8px 0;
  border: 1px solid #dbd9d3;
  border-radius: 5px;
  margin-bottom: 10px;
}

label {
  color: #878580;
  font-family: 'Brandon Grotesque', sans-serif;
  font-size: 12px;
  font-weight: 500;
  padding-left: 6px;
  margin-bottom: 5px;
}

button {
  background-color: #f74914;
  color: white;
  border: none;
  border-radius: 5em;
  padding: 6px 12px;
}

.upper-case {
  text-transform: uppercase;
}

.orange-text {
  color: #f74914;
}

.btn {
  display: flex;
  justify-content: flex-end;
}
