.open-btn {
  background-color: blue;
  width: 200px;
  height: 50px;
  box-shadow: inset 5px -5px 80px 0 #4b5460;
  color: white;
  border: none;
  border-radius: 0.25em;
  font-size: 20px;
}

.btn-dialog {
  background-color: red;
  box-shadow: inset 5px -5px 53px -22px #bbc1bf;
  color: white;
  border: none;
  border-radius: 0.25em;
  font-size: 18px;
  margin-top: 20px;
  width: 50px;
  height: 40px;
}

.modal {
  text-align: center;
  font-family: sans-serif;
  font-weight: 600;
  border: none;
  border-radius: 2%;
  width: 35%;
  padding: 30px 30px;
}

dialog::backdrop {
  background-color: rgba(38, 37, 37, 0.75);
}
