.phrase {
  width: 70%;
  margin: auto;
  text-align: center;
  margin-top: 100px;
}

body {
  display: flex;
  justify-content: center;
}

span {
  font-size: 22px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 800;
}

span:first-child {
  text-decoration: underline;
  text-decoration-color: black;
}

.correct {
  color: yellowgreen;
}

.wrong {
  color: red;
}

.current {
  text-decoration: underline;
}
