.row {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.col-full {
  justify-content: center;
  flex-basis: 100%;
}

.col-half {
  flex-basis: 50%;
}

.col-quarter {
  flex-basis: 25%;
}

.col-three-quarters {
  flex-basis: 75%;
}

.container {
  font-family: 'Karla', sans-serif;
  padding: 20px;
}

button {
  color: #bf133b;
  border: 1px solid #bf133b;
  background-color: white;
  padding: 10px 30px;
}

h3 {
  text-transform: uppercase;
}

p {
  line-height: 180%;
}

header {
  text-transform: uppercase;
  text-align: center;
}
