.image-container {
  padding-top: 120px;
  padding-bottom: 80px;
}

.overlay {
  left: 8%;
  top: 35%;
  width: 60%;
}

.overlay-heading {
  padding-right: 0;
}

.overlay-txt {
  padding-right: 20%;
}

.product-img {
  width: 75%;
  height: auto;
  padding-top: 20%;
}

article {
  padding-top: 20%;
  padding-right: 50px;
  line-height: 1.5em;
}

.make-italic {
  font-style: italic;
}

.section1 {
  padding-bottom: 5%;
}
