.image-container {
  padding-top: 120px;
  padding-bottom: 60px;
}

.overlay {
  left: 8%;
  top: 35%;
  width: 60%;
}

.overlay-heading {
  padding-right: 0;
}

.overlay-txt {
  padding-right: 20%;
}

.product-img {
  padding-top: 75px;
}

section {
  padding-top: 20%;
  padding-right: 50px;
  line-height: 1.5em;
}

.make-italic {
  font-style: italic;
}

.text-section {
  padding-bottom: 5%;
}

.img-care {
  padding-right: 50px;
  width: 100%;
}

.text-population {
  padding-top: 50px;
  padding-bottom: 75px;
}

.img-population {
  padding-top: 50px;
  padding-left: 50px;
  width: 100%;
}

.text-performance {
  padding-top: 40px;
  padding-left: 75px;
  padding-right: 0;
  padding-bottom: 60px;
}

.img-performance {
  padding-top: 90px;
  width: 90%;
  padding-bottom: 60px;
}

.learn-more {
  padding-top: 0;
}
