/* grid layout classes */
.container {
  /* width: 90%;
  margin: auto; */
  font-family: 'Avenir', sans-serif;
}

/* horizontal rule below nav */
.row {
  border-bottom: 1px solid #c7c8c8;
}

.col-full {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .col-half {

} */

/* nav styling */
.nav-list-item {
  display: inline-block;
}

nav {
  /* position: relative; */
  display: flex;
  justify-content: space-between;
  width: 100%;

  /* color: #cbcbcb; */

  /* align-items: flex-start; */
}

.inline-list {
  /* position: absolute;
  right: 0;
  top: 0; */

  /* padding-top: 0;
  margin-top: 0; */
}

.logo {
  width: 100px;

  /* position: absolute;
  left: 0;
  top: 20px; */
}

a {
  text-decoration: none;
  color: #cbcbcb;
}

/* button styling */
.btn {
  color: #f4f5f7;
  background-color: #294464;
  border: none;
  border-radius: 3px;
}

.btn-contact {
  height: 31px;

  /* width: auto; */
}

li {
  margin-left: 30px;
}

/* hero image */

.hero {
  width: 100%;
  height: auto;
  filter: brightness(70%);
}

.image-container {
  padding: 60px 0;
  display: flex;
  justify-content: center;
  position: relative;
}

.overlay {
  position: absolute;
  left: 70px;
  top: 125px;
  width: 40%;
  color: #fbfbfb;
  line-height: 1.5em;
  letter-spacing: 125%;
}

.overlay-txt {
  font-size: 0.8em;
}

.overlay-heading {
  font-family: 'Tiempos Headline', serif;
  width: 75%;
  line-height: 2em;

  /* font-size: 200%; */

  /* font-weight: 300; */
}

.btn-get-started {
  margin-top: 10px;
  width: 130px;
  height: 40px;
}
