/* grid layout classes */
.container {
  font-family: 'Avenir', sans-serif;
}

.flex-container {
  display: flex;
}

.direction-col {
  flex-direction: column;
}

.wrap-content {
  flex-wrap: wrap;
}

.row {
  width: 100%;
}

.col-nine-tenths {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* actually 40% of container */
.col-half {
  flex-basis: 40%;
}

/* horizontal rule */
.hr {
  border-bottom: 1px solid #c7c8c8;
}

/* text */
.font-tiempos {
  font-family: 'Tiempos Headline', serif;
}

.center-align {
  text-align: center;
}

.center-content {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.text-small {
  font-size: 14px;
}

/* colors */

.bg-light {
  background-color: #fafafa;
}

.bg-dark {
  background-color: #525351;
}

/* nav styling */
.nav-list-item {
  display: inline-block;
}

nav {
  /* position: relative; */
  width: 100%;
}

.inline-list {
  /* position: absolute;
  right: 0;
  top: 0; */

  /* padding-top: 0;
  margin-top: 0; */
}

.logo {
  width: 100px;
}

a {
  text-decoration: none;
  color: #cbcbcb;
}

/* button styling */
.btn {
  color: #f4f5f7;
  background-color: #294464;
  border: none;
  border-radius: 3px;
}

.btn-contact {
  height: 31px;

  /* width: auto; */
}

li {
  margin-left: 30px;
}

/* hero image */

.hero {
  width: 100%;
  height: auto;
  filter: brightness(70%);
}

.image-container {
  padding: 60px 0;
  display: flex;
  position: relative;
}

.overlay {
  position: absolute;
  left: 70px;
  top: 150px;
  width: 40%;
  color: #fbfbfb;
  line-height: 1.5em;
  letter-spacing: 125%;
  font-size: 20px;
}

.overlay-txt {
  padding-bottom: 50px;
}

.overlay-heading {
  width: 75%;
  line-height: 2em;
}

.btn-get-started {
  margin-top: 10px;
  width: 130px;
  height: 40px;
  font-size: 16px;
}

.clinicians-prefer {
  padding-top: 50px;
  color: #525351;
}

.clinicians-text {
  padding: 20px 240px 50px;
  line-height: 2em;
}

.location {
  padding-bottom: 10px;
}

.row3 {
  padding-bottom: 80px;
}

.get-started-bottom {
  width: 160px;
  height: 50px;
  font-size: 16px;
}

.learn-more {
  color: #525351;
}

.learn-more-heading {
  font-size: 24px;
  margin-bottom: 10px;
}

.learn-more-section {
  padding: 50px;
}
